<div class="container-fluid  p-0 m-0">

    <!-- navbar starts here -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed fixed-top" style="background-color: white;">
        <a class="navbar-brand" href="">
            <img src="assets/logo.png" width="100" height="60" class=" align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class=" ml-auto">
                <ul class="nav justify-content-end">
                    <li>
                        <a class="btn text-dark" style="font-weight: 700;" href="">Institute Name
                        </a>
                        <a class="btn icon-profile" style="color: rgb(78, 186, 248); cursor: pointer;"
                            (click)="logout()"> LogOut
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar ends here -->

    <!-- sidebar starts here -->
    <div class="sidebar mt-4">
        <a href="/dashboard">DASHBOARD</a>

        <a href="/test-series">TEST SERIES</a>
        <a href="/classroom">CLASSROOM</a>
        <a class="active" href="/institute/profile">PROFILE</a>
        <!-- <a href="/information">INFORMATION</a>
        <a href="/settings">SETTINGS</a> -->
    </div>
    <!-- sidebar ends here -->

    <!-- content div starts here -->
    <div class="content clearfix pl-5 mt-5" style="z-index: 1; overflow: hidden; white-space: nowrap;">
        <div class="row ml-1">
            <h5>Add Profile</h5>
            <!-- <button type="button" class="btn btn-info" (click)="goToExamination()">Back</button> -->
        </div>
        <hr>

        <form >  <!--#addAboutInstituteForm="ngForm" -->
            <div class="form-group aboutExamForm mt-4 pt-2 mb-5">
                <label for="aboutExam">About Exam</label>

                <!-- [(ngModel)]="aboutExam" name="aboutExam" -->
                <ckeditor type="text" tagName="textarea"  [config]="ckeConfig" [(ngModel)]="Syllabus" name="Syllabus"
                    debounce="500" (change)="onCkeChange($event)" data-sample-short>
                </ckeditor>
                <div class="row" *ngIf = "Syllabus != undefined">syllabus is: {{Syllabus}}</div>
            </div>
        </form>
    </div>


</div>